<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Atlantis Lite - Bootstrap 4 Admin Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="../assets/img/icon.ico" type="image/x-icon"/>

	<!-- Fonts and icons -->
	<script src="/src/public/assets/js/plugin/webfont/webfont.min.js"></script>
	<script>
		WebFont.load({
			google: {"families":["Lato:300,400,700,900"]},
			custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css']},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script>

	<!-- CSS Files -->
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/atlantis.min.css">

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="../assets/css/demo.css">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<!-- Logo Header -->
			<div class="logo-header" data-background-color="blue">
				
				<a href="/" class="logo">
					<div style="font-weight: bold; font-size: 24px; color: white">App Café</div>
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
				
				<div class="container-fluid">
					<div class="collapse" id="search-nav">
						
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item toggle-nav-search hidden-caret">
							<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
								<i class="fa fa-search"></i>
							</a>
						</li>
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-envelope"></i>
							</a>
							<ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
								<li>
									<div class="dropdown-title d-flex justify-content-between align-items-center">
										Messages 									
										<a href="#" class="small">Mark all as read</a>
									</div>
								</li>
								<li>
									<div class="message-notif-scroll scrollbar-outer">
										<div class="notif-center">
											<a href="#">
												<div class="notif-img"> 
													<img src="../assets/img/jm_denis.jpg" alt="Img Profile">
												</div>
												<div class="notif-content">
													<span class="subject">Jimmy Denis</span>
													<span class="block">
														How are you ?
													</span>
													<span class="time">5 minutes ago</span> 
												</div>
											</a>
											<a href="#">
												<div class="notif-img"> 
													<img src="../assets/img/chadengle.jpg" alt="Img Profile">
												</div>
												<div class="notif-content">
													<span class="subject">Chad</span>
													<span class="block">
														Ok, Thanks !
													</span>
													<span class="time">12 minutes ago</span> 
												</div>
											</a>
											<a href="#">
												<div class="notif-img"> 
													<img src="../assets/img/mlane.jpg" alt="Img Profile">
												</div>
												<div class="notif-content">
													<span class="subject">Jhon Doe</span>
													<span class="block">
														Ready for the meeting today...
													</span>
													<span class="time">12 minutes ago</span> 
												</div>
											</a>
											<a href="#">
												<div class="notif-img"> 
													<img src="../assets/img/talha.jpg" alt="Img Profile">
												</div>
												<div class="notif-content">
													<span class="subject">Talha</span>
													<span class="block">
														Hi, Apa Kabar ?
													</span>
													<span class="time">17 minutes ago</span> 
												</div>
											</a>
										</div>
									</div>
								</li>
								<li>
									<a class="see-all" href="javascript:void(0);">See all messages<i class="fa fa-angle-right"></i> </a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-bell"></i>
								<span class="notification">4</span>
							</a>
							<ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
								<li>
									<div class="dropdown-title">You has no notification</div>
								</li>
								<li>
									<a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i> </a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown hidden-caret">
							<a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
								<i class="fas fa-layer-group"></i>
							</a>
							<div class="dropdown-menu quick-actions quick-actions-info animated fadeIn">
								<div class="quick-actions-header">
									<span class="title mb-1">Chọn nhanh</span>
									<span class="subtitle op-8"></span>
								</div>
								<div class="quick-actions-scroll scrollbar-outer">
									<div class="quick-actions-items">
										<div class="row m-0">
											<a class="col-6 col-md-4 p-0" href="/sizes/create">
												<div class="quick-actions-item">
													<i class="flaticon-file-1"></i>
													<span class="text">Thêm size</span>
												</div>
											</a>
											<a class="col-6 col-md-4 p-0" href="/sizes/create">
												<div class="quick-actions-item">
													<i class="flaticon-database"></i>
													<span class="text">Thêm danh mục</span>
												</div>
											</a>
											<a class="col-6 col-md-4 p-0" href="/products/create">
												<div class="quick-actions-item">
													<i class="flaticon-pen"></i>
													<span class="text">Thêm sản phẩm</span>
												</div>
											</a>
											
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown hidden-caret">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
								<div class="avatar-sm">
									<img src="../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
								</div>
							</a>
							<ul class="dropdown-menu dropdown-user animated fadeIn">
								<div class="dropdown-user-scroll scrollbar-outer">
									<li>
										<div class="user-box">
											<div class="avatar-lg"><img src="../assets/img/profile.jpg" alt="image profile" class="avatar-img rounded"></div>
											<div class="u-text">
												<h4>{{user.full_name}}</h4>
												<p class="text-muted">{{user.email}}</p>
											</div>
										</div>
									</li>
									<li>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Thông tin cá nhân</a>
										<a class="dropdown-item" href="/logout/admin">Đăng xuất</a>
									</li>
								</div>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<!-- End Navbar -->
		</div>

		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a href="#collapseExample">
								<span>
									{{user.full_name}}
									<span class="user-level">Administrator</span>
								</span>
							</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<ul class="nav nav-primary">
						<li class="nav-item">
							<a href="/" class="collapsed" >
								<i class="fas fa-home"></i>
								<p>Trang chủ</p>
							</a>
						</li>
						<li class="nav-item ">
							<a href="/sizes" class="collapsed" >
								<i class="fas fa-s"></i>
								<p>Size</p>
							</a>
						</li>
            <li class="nav-item">
							<a href="/categories" class="collapsed" >
								<i class="fas fa-shapes"></i>
								<p>Danh mục</p>
							</a>
						</li>
            <li class="nav-item">
							<a href="/products" class="collapsed" >
								<i class="fas fa-mug-hot"></i>
								<p>Sản phẩm</p>
							</a>
						</li>
            <li class="nav-item">
							<a href="/orders" class="collapsed" >
								<i class="fas fa-receipt"></i>
								<p>Đơn hàng</p>
							</a>
						</li>
            <li class="nav-item active">
							<a href="/analysis" class="collapsed" >
								<i class="fas fa-chart-pie"></i>
								<p>Thống kê</p>
							</a>
						</li>
            <li class="nav-item">
							<a style="{{manager user.admin}}" href="/users" class="collapsed" >
								<i class="fas fa-users"></i>
								<p>Quản trị viên</p>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

		<div class="main-panel">
			<div class="content">
				<div class="panel-header bg-primary-gradient">
					<div class="page-inner py-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div>
								<h2 class="text-white pb-2 fw-bold">Thống kê</h2>
							</div>
							
						</div>
					</div>
				</div>
				<div class="page-inner mt--5">
					
					<div class="row-card-no-pd p-3">
						<div>
  <h5>Doanh thu trong 7 ngày gần nhất</h5>
  <div class="d-flex flex-row">
    <b>Tổng doanh thu: &nbsp;</b>
    <a style="color: red;" id="total-week"></a>
  </div>
  <canvas class="my-4 w-100" id="myChart" height="380"></canvas>
  <h5>Sản phẩm bán chạy nhất trong ngày</h5>
  <div class="row form-group">
    <label for="date" class="col-sm-1 col-form-label">Ngày</label>
    <div class="col-sm-4">
      <div class="input-group date" id="datepicker">
          <input type="text" class="form-control">
          <span class="input-group-append">
              <span class="input-group-text bg-white">
                  <i class="fa fa-calendar"></i>
              </span>
          </span>
      </div>
    </div>
  </div>
  <button type="button" id="find-day" class="btn btn-primary">Tra cứu</button>
  <canvas id="chart-pie" class="chart-pie-1"></canvas>
  <h5 id="month">Sản phẩm tốt nhất tháng</h5>
  <canvas id="myReviewChart"></canvas>
  <h5 id="month">Doanh thu trong tháng</h5>
  {{!-- <canvas id="lineChart"></canvas> --}}
  <canvas id="myChart1" style="width:100%"></canvas>
</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						
					</nav>
					<div class="copyright ml-auto">
						2022, made with <i class="fa fa-heart heart text-danger"></i> by App Café Team
					</div>				
				</div>
			</footer>
		</div>
		
		<!-- Custom template | don't include it in your project! -->
		<div class="custom-template">
			<div class="title">Settings</div>
			<div class="custom-content">
				<div class="switcher">
					<div class="switch-block">
						<h4>Logo Header</h4>
						<div class="btnSwitch">
							<button type="button" class="changeLogoHeaderColor" data-color="dark"></button>
							<button type="button" class="selected changeLogoHeaderColor" data-color="blue"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="green"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="red"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="white"></button>
							<br/>
							<button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Navbar Header</h4>
						<div class="btnSwitch">
							<button type="button" class="changeTopBarColor" data-color="dark"></button>
							<button type="button" class="changeTopBarColor" data-color="blue"></button>
							<button type="button" class="changeTopBarColor" data-color="purple"></button>
							<button type="button" class="changeTopBarColor" data-color="light-blue"></button>
							<button type="button" class="changeTopBarColor" data-color="green"></button>
							<button type="button" class="changeTopBarColor" data-color="orange"></button>
							<button type="button" class="changeTopBarColor" data-color="red"></button>
							<button type="button" class="changeTopBarColor" data-color="white"></button>
							<br/>
							<button type="button" class="changeTopBarColor" data-color="dark2"></button>
							<button type="button" class="selected changeTopBarColor" data-color="blue2"></button>
							<button type="button" class="changeTopBarColor" data-color="purple2"></button>
							<button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
							<button type="button" class="changeTopBarColor" data-color="green2"></button>
							<button type="button" class="changeTopBarColor" data-color="orange2"></button>
							<button type="button" class="changeTopBarColor" data-color="red2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Sidebar</h4>
						<div class="btnSwitch">
							<button type="button" class="selected changeSideBarColor" data-color="white"></button>
							<button type="button" class="changeSideBarColor" data-color="dark"></button>
							<button type="button" class="changeSideBarColor" data-color="dark2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Background</h4>
						<div class="btnSwitch">
							<button type="button" class="changeBackgroundColor" data-color="bg2"></button>
							<button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
							<button type="button" class="changeBackgroundColor" data-color="bg3"></button>
							<button type="button" class="changeBackgroundColor" data-color="dark"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-toggle">
				<i class="fas fa-gear"></i>
			</div>
		</div>
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<script src="../assets/js/core/popper.min.js"></script>

	<!-- jQuery UI -->
	<script src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


	<!-- Chart JS -->
	<script src="../assets/js/plugin/chart.js/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="../assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Chart Circle -->
	<script src="../assets/js/plugin/chart-circle/circles.min.js"></script>

	<!-- Datatables -->
	<script src="../assets/js/plugin/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	{{!-- <script src="../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script> --}}

	<!-- jQuery Vector Maps -->
	<script src="../assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
	<script src="../assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

	<!-- Sweet Alert -->
	<script src="../assets/js/plugin/sweetalert/sweetalert.min.js"></script>

	<!-- Atlantis JS -->
	<script src="../assets/js/atlantis.min.js"></script>

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="../assets/js/setting-demo.js"></script>
	<script src="../assets/js/demo.js"></script>
	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>
</body>
</html>








<script>
    // Graph
  var ctx = document.getElementById("myChart");

  function getData() {
    return fetch('http://localhost:3000/analysis/get7days/get')
      .then(response => response.json())
      .then(data => {
        return data;
    })
  };

  function getDataDay(date) {
    return fetch(`http://localhost:3000/analysis/day/${date}/products/get`)
      .then(response => response.json())
      .then(data => {
        return data
    })
  };

  function getReviewsData() {
    return fetch(`http://localhost:3000/analysis/month/rates/get`)
      .then(response => response.json())
      .then(data => {
        return data
    })
  };

  function getRevenueMonth(m) {
    return fetch(`http://localhost:3000/analysis/month/${m}/revenue/get`)
      .then(response => response.json())
      .then(data => {
        return data
    })
  };


  async function RunGetDate() {
    var myData = await getData();
    var dateList = myData.map(item => {
      return item.date.slice(0, 10);
    })
    var totalList = myData.map(item => {
      return item.total;
    })
    var getTotal = myData.reduce((acc, item)=>{
      return acc+item.total;
    }, 0);
    $('#total-week').text(getTotal + " đ");
    dateList = dateList.reverse();
    totalList = totalList.reverse();
    var myChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: dateList,
        datasets: [
          {
            data: totalList,
            lineTension: 0,
            backgroundColor: "transparent",
            borderColor: "#007bff",
            borderWidth: 4,
            pointBackgroundColor: "red",
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: false,
              },
            },
          ],
        },
        legend: {
          display: false,
          
        },
      },
    });
  };

  RunGetDate();

  async function RunGetProductInDay(date) {
      var myProductListByDay = await getDataDay(date);
      var nameList = [];
      var quantityList = [];
      if(myProductListByDay.length>0){
        nameList = myProductListByDay.map(item => {
          return item.product.name;
        })
        quantityList = myProductListByDay.map(item => {
          return item.quantity;
        });
      } else {
        nameList=["không tìm thấy dữ liệu"];
        quantityList=[1]
      }
    
      var colorList = ["red","orange","yellow","green","blue","indigo","violet","silver","cyan","purple","lime","magenta","pink","aquamarine","brown","olive"];
      // Shuffle array
      var shuffled = colorList.sort(() => 0.5 - Math.random());
      // Get sub-array of first n elements after shuffled
      var selected = shuffled.slice(0, myProductListByDay.length);
      const dataPie1 = {
        type: "pie",
        
        data: {
          labels: nameList,
          datasets: [{
            data: quantityList,
            backgroundColor: selected,
          }, ],
        },
      };
      var MyPie1 = new Chart(document.getElementsByClassName("chart-pie-1"), dataPie1);
    }

  $(function() {
      //$('#datepicker').datepicker("setDate", new Date()).(dateFormat: 'mm-dd-yyyy');
      $("#datepicker").datepicker({ dateFormat: 'mm-dd-yyyy'}).datepicker("setDate", new Date());
      var picked =  $("#datepicker").datepicker('getDate');
      RunGetProductInDay(picked);
  });

  $('#find-day').click( ()=>{
    var picked = $("#datepicker").datepicker('getDate');
    RunGetProductInDay(picked);
  });

  async function RunGetReviews() {
    var ctx = document.getElementById("myReviewChart").getContext('2d');
    var data = await getReviewsData();
    var nameList = data.map(item => {
      return item.product_id.name;
    })
    var scoreList = data.map(item => {
      return item.score;
    })
    var colorList = ["red","orange","yellow","green","blue","indigo","violet","silver","cyan","purple","lime","magenta","pink","aquamarine","brown","olive"];
    // Shuffle array
    var shuffled = colorList.sort(() => 0.5 - Math.random());
    // Get sub-array of first n elements after shuffled
    var selected = shuffled.slice(0, data.length);
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: nameList,
        datasets: [{
          label: '# of Score',
          data: scoreList,
          backgroundColor: selected,
          borderColor: selected,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }

  RunGetReviews();

  async function RunGetRevenueMonth() {
    var today = new Date();
    var month = today.getMonth()+1;
    var myData1 = await getRevenueMonth(month);
    console.log(myData1);
    var dateList1 = myData1.map(item => {
      return String(item.date).substring(8,10);
    });
    var x = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16"];
    var totalList1 = myData1.map(item => {
      return item.value;
    })
    console.log('date list: ', dateList1);
    console.log('total list: ', totalList1);
    var colorList = ["red","orange","yellow","green","blue","indigo","violet","silver","cyan","purple","lime","magenta","pink","aquamarine","brown","olive"];
    // Shuffle array
    var shuffled = colorList.sort(() => 0.5 - Math.random());
    // Get sub-array of first n elements after shuffled
    var selected = shuffled.slice(0, 1);
    var chart = new Chart("myChart1", {
      type: "line",
      data: {
        labels: dateList1,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: selected,
          borderColor: selected,
          data: totalList1
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: []
        }
      },
    });
    
  };

  RunGetRevenueMonth();

    
</script>

{{!-- var myLineChart = new Chart(document.getElementById("lineChart"), {
      type: 'line',
      data: {
        labels: dateList,
        datasets: [
        {
            label: "doanh thu",
            data: totalList,
            backgroundColor: [
              'transparent',
            ],
            borderColor: [
              selected,
            ],
            borderWidth: 2
          },
        ]
      },
      options: {
        responsive: true
      }
    }); --}}