<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Atlantis Lite - Bootstrap 4 Admin Dashboard</title>
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link rel="icon" href="../assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="/src/public/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
      WebFont.load({ google: {"families":["Lato:300,400,700,900"]}, custom:
      {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular",
      "Font Awesome 5 Brands", "simple-line-icons"], urls:
      ['../assets/css/fonts.min.css']}, active: function() {
      sessionStorage.fonts = true; } });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/atlantis.min.css" />
    <link rel="stylesheet" href="../assets/css/image-selector.css" />


    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="../assets/css/demo.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="main-header">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="blue">

          <a href="/" class="logo">
            <div style="font-weight: bold; font-size: 24px; color: white">App
              Café</div>
          </a>
          <button
            class="navbar-toggler sidenav-toggler ml-auto"
            type="button"
            data-toggle="collapse"
            data-target="collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon">
              <i class="icon-menu"></i>
            </span>
          </button>
          <button class="topbar-toggler more"><i
              class="icon-options-vertical"
            ></i></button>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="icon-menu"></i>
            </button>
          </div>
        </div>
        <!-- End Logo Header -->

        <!-- Navbar Header -->
        <nav
          class="navbar navbar-header navbar-expand-lg"
          data-background-color="blue2"
        >

          <div class="container-fluid">
            <div class="collapse" id="search-nav">

            </div>
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
              <li class="nav-item toggle-nav-search hidden-caret">
                <a
                  class="nav-link"
                  data-toggle="collapse"
                  href="#search-nav"
                  role="button"
                  aria-expanded="false"
                  aria-controls="search-nav"
                >
                  <i class="fa fa-search"></i>
                </a>
              </li>
              <li class="nav-item dropdown hidden-caret">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="messageDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-envelope"></i>
                </a>
                <ul
                  class="dropdown-menu messages-notif-box animated fadeIn"
                  aria-labelledby="messageDropdown"
                >
                  <li>
                    <div
                      class="dropdown-title d-flex justify-content-between align-items-center"
                    >
                      Messages
                      <a href="#" class="small">Mark all as read</a>
                    </div>
                  </li>
                  <li>
                    <div class="message-notif-scroll scrollbar-outer">
                      <div class="notif-center">
                        <a href="#">
                          <div class="notif-img">
                            <img
                              src="../assets/img/jm_denis.jpg"
                              alt="Img Profile"
                            />
                          </div>
                          <div class="notif-content">
                            <span class="subject">Jimmy Denis</span>
                            <span class="block">
                              How are you ?
                            </span>
                            <span class="time">5 minutes ago</span>
                          </div>
                        </a>
                        <a href="#">
                          <div class="notif-img">
                            <img
                              src="../assets/img/chadengle.jpg"
                              alt="Img Profile"
                            />
                          </div>
                          <div class="notif-content">
                            <span class="subject">Chad</span>
                            <span class="block">
                              Ok, Thanks !
                            </span>
                            <span class="time">12 minutes ago</span>
                          </div>
                        </a>
                        <a href="#">
                          <div class="notif-img">
                            <img
                              src="../assets/img/mlane.jpg"
                              alt="Img Profile"
                            />
                          </div>
                          <div class="notif-content">
                            <span class="subject">Jhon Doe</span>
                            <span class="block">
                              Ready for the meeting today...
                            </span>
                            <span class="time">12 minutes ago</span>
                          </div>
                        </a>
                        <a href="#">
                          <div class="notif-img">
                            <img
                              src="../assets/img/talha.jpg"
                              alt="Img Profile"
                            />
                          </div>
                          <div class="notif-content">
                            <span class="subject">Talha</span>
                            <span class="block">
                              Hi, Apa Kabar ?
                            </span>
                            <span class="time">17 minutes ago</span>
                          </div>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a class="see-all" href="javascript:void(0);">See all
                      messages<i class="fa fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown hidden-caret">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="notifDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-bell"></i>
                  <span class="notification">4</span>
                </a>
                <ul
                  class="dropdown-menu notif-box animated fadeIn"
                  aria-labelledby="notifDropdown"
                >
                  <li>
                    <div class="dropdown-title">You has no notification</div>
                  </li>
                  <li>
                    <a class="see-all" href="javascript:void(0);">See all
                      notifications<i class="fa fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown hidden-caret">
                <a
                  class="nav-link"
                  data-toggle="dropdown"
                  href="#"
                  aria-expanded="false"
                >
                  <i class="fas fa-layer-group"></i>
                </a>
                <div
                  class="dropdown-menu quick-actions quick-actions-info animated fadeIn"
                >
                  <div class="quick-actions-header">
                    <span class="title mb-1">Chọn nhanh</span>
                    <span class="subtitle op-8"></span>
                  </div>
                  <div class="quick-actions-scroll scrollbar-outer">
                    <div class="quick-actions-items">
                      <div class="row m-0">
                        <a class="col-6 col-md-4 p-0" href="/sizes/create">
                          <div class="quick-actions-item">
                            <i class="flaticon-file-1"></i>
                            <span class="text">Thêm size</span>
                          </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="/sizes/create">
                          <div class="quick-actions-item">
                            <i class="flaticon-database"></i>
                            <span class="text">Thêm danh mục</span>
                          </div>
                        </a>
                        <a class="col-6 col-md-4 p-0" href="/products/create">
                          <div class="quick-actions-item">
                            <i class="flaticon-pen"></i>
                            <span class="text">Thêm sản phẩm</span>
                          </div>
                        </a>

                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown hidden-caret">
                <a
                  class="dropdown-toggle profile-pic"
                  data-toggle="dropdown"
                  href="#"
                  aria-expanded="false"
                >
                  <div class="avatar-sm">
                    <img
                      src="../assets/img/profile.jpg"
                      alt="..."
                      class="avatar-img rounded-circle"
                    />
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-user animated fadeIn">
                  <div class="dropdown-user-scroll scrollbar-outer">
                    <li>
                      <div class="user-box">
                        <div class="avatar-lg"><img
                            src="../assets/img/profile.jpg"
                            alt="image profile"
                            class="avatar-img rounded"
                          /></div>
                        <div class="u-text">
                          <h4>{{user.full_name}}</h4>
                          <p class="text-muted">{{user.email}}</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                      <a class="dropdown-item" href="/logout/admin">Đăng xuất</a>
                    </li>
                  </div>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>

      <!-- Sidebar -->
      <div class="sidebar sidebar-style-2">
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <div class="user">
              <div class="avatar-sm float-left mr-2">
                <img
                  src="../assets/img/profile.jpg"
                  alt="..."
                  class="avatar-img rounded-circle"
                />
              </div>
              <div class="info">
                <a href="#collapseExample">
                  <span>
                    {{user.full_name}}
                    <span class="user-level">Administrator</span>
                  </span>
                </a>
                <div class="clearfix"></div>
              </div>
            </div>
            <ul class="nav nav-primary">
              <li class="nav-item">
                <a href="/" class="collapsed">
                  <i class="fas fa-home"></i>
                  <p>Trang chủ</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/sizes" class="collapsed">
                  <i class="fas fa-s"></i>
                  <p>Size</p>
                </a>
              </li>
              <li class="nav-item active">
                <a href="/categories" class="collapsed">
                  <i class="fas fa-shapes"></i>
                  <p>Danh mục</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/products" class="collapsed">
                  <i class="fas fa-mug-hot"></i>
                  <p>Sản phẩm</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/orders" class="collapsed">
                  <i class="fas fa-receipt"></i>
                  <p>Đơn hàng</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/analysis" class="collapsed">
                  <i class="fas fa-chart-pie"></i>
                  <p>Thống kê</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/users" class="collapsed">
                  <i class="fas fa-users"></i>
                  <p>Quản trị viên</p>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->

      <div class="main-panel">
        <div class="content">
          <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
              <div
                class="d-flex align-items-left align-items-md-center flex-column flex-md-row"
              >
                <div>
                  <h2 class="text-white pb-2 fw-bold">Thêm danh mục</h2>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="page-inner mt--5">

            <div class="row-card-no-pd p-3">

              <div class="mt-4">
                <form
                  role="form"
                  name="form-category"
                  method="POST"
                  action="/categories/create"
                  enctype="multipart/form-data"
                >
                  <div class="form-group">
                    <label>Tên danh mục</label>
                    <input
                      name="name"
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Nhập tên danh mục"
                    />
                  </div>
                  <div class="form-group">
                    <label>Mô tả</label>
                    <textarea
                      name="description"
                      rows="3"
                      class="form-control"
                      id="description"
                      placeholder="Nhập mô tả"
                    ></textarea>
                  </div>
                  <div class="card-image">
                    <div class="top-image">
                      <p>Drag & drop image uploading</p>
                      {{!-- <button id="btn-upload-image" type="button">Upload</button> --}}
                    </div>
                    <div class="drag-area">
                      <span class="visible-image">
                      Drag & drop image here or
                      <span class="select-image" role="button">Browse</span>
                    </span>
                    <span class="on-drop-image">Drop images here</span>
                      <input name="image" type="file" class="file-image" />
                    </div>

                    <!-- IMAGE PREVIEW CONTAINER -->
                    <div class="container-image"></div>
                  </div>
                  <button id="btn-submit" type="submit" class="btn btn-primary">Tạo mới</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <nav class="pull-left">

            </nav>
            <div class="copyright ml-auto">
              2022, made with
              <i class="fa fa-heart heart text-danger"></i>
              by App Café Team
            </div>
          </div>
        </footer>
      </div>

      <!-- Custom template | don't include it in your project! -->
      <div class="custom-template">
        <div class="title">Settings</div>
        <div class="custom-content">
          <div class="switcher">
            <div class="switch-block">
              <h4>Logo Header</h4>
              <div class="btnSwitch">
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="dark"
                ></button>
                <button
                  type="button"
                  class="selected changeLogoHeaderColor"
                  data-color="blue"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="purple"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="light-blue"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="green"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="orange"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="red"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="white"
                ></button>
                <br />
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="dark2"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="blue2"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="purple2"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="light-blue2"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="green2"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="orange2"
                ></button>
                <button
                  type="button"
                  class="changeLogoHeaderColor"
                  data-color="red2"
                ></button>
              </div>
            </div>
            <div class="switch-block">
              <h4>Navbar Header</h4>
              <div class="btnSwitch">
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="dark"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="blue"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="purple"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="light-blue"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="green"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="orange"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="red"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="white"
                ></button>
                <br />
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="dark2"
                ></button>
                <button
                  type="button"
                  class="selected changeTopBarColor"
                  data-color="blue2"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="purple2"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="light-blue2"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="green2"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="orange2"
                ></button>
                <button
                  type="button"
                  class="changeTopBarColor"
                  data-color="red2"
                ></button>
              </div>
            </div>
            <div class="switch-block">
              <h4>Sidebar</h4>
              <div class="btnSwitch">
                <button
                  type="button"
                  class="selected changeSideBarColor"
                  data-color="white"
                ></button>
                <button
                  type="button"
                  class="changeSideBarColor"
                  data-color="dark"
                ></button>
                <button
                  type="button"
                  class="changeSideBarColor"
                  data-color="dark2"
                ></button>
              </div>
            </div>
            <div class="switch-block">
              <h4>Background</h4>
              <div class="btnSwitch">
                <button
                  type="button"
                  class="changeBackgroundColor"
                  data-color="bg2"
                ></button>
                <button
                  type="button"
                  class="changeBackgroundColor selected"
                  data-color="bg1"
                ></button>
                <button
                  type="button"
                  class="changeBackgroundColor"
                  data-color="bg3"
                ></button>
                <button
                  type="button"
                  class="changeBackgroundColor"
                  data-color="dark"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-toggle">
          <i class="fas fa-gear"></i>
        </div>
      </div>
      <!-- End Custom template -->
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/popper.min.js"></script>

    <!-- jQuery UI -->
    <script
      src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"
    ></script>
    <script
      src="../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"
    ></script>

    <!-- jQuery Scrollbar -->
    <script
      src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"
    ></script>

    <!-- Chart JS -->
    <script src="../assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script
      src="../assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"
    ></script>

    <!-- Chart Circle -->
    <script src="../assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="../assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script
      {{!-- src="../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js" --}}
    ></script>

    <!-- jQuery Vector Maps -->
    <script src="../assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="../assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="../assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="../assets/js/atlantis.min.js"></script>

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="../assets/js/setting-demo.js"></script>
    <script src="../assets/js/demo.js"></script>
    <script>
      Circles.create({ id:'circles-1', radius:45, value:60, maxValue:100,
      width:7, text: 5, colors:['#f1f1f1', '#FF9E27'], duration:400,
      wrpClass:'circles-wrp', textClass:'circles-text', styleWrapper:true,
      styleText:true }) Circles.create({ id:'circles-2', radius:45, value:70,
      maxValue:100, width:7, text: 36, colors:['#f1f1f1', '#2BB930'],
      duration:400, wrpClass:'circles-wrp', textClass:'circles-text',
      styleWrapper:true, styleText:true }) Circles.create({ id:'circles-3',
      radius:45, value:40, maxValue:100, width:7, text: 12, colors:['#f1f1f1',
      '#F25961'], duration:400, wrpClass:'circles-wrp',
      textClass:'circles-text', styleWrapper:true, styleText:true }) var
      totalIncomeChart =
      document.getElementById('totalIncomeChart').getContext('2d'); var
      mytotalIncomeChart = new Chart(totalIncomeChart, { type: 'bar', data: {
      labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"], datasets : [{
      label: "Total Income", backgroundColor: '#ff9e27', borderColor: 'rgb(23,
      125, 255)', data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10], }], }, options: {
      responsive: true, maintainAspectRatio: false, legend: { display: false, },
      scales: { yAxes: [{ ticks: { display: false //this will remove only the
      label }, gridLines : { drawBorder: false, display : false } }], xAxes : [
      { gridLines : { drawBorder: false, display : false } }] }, } });
      $('#lineChart').sparkline([105,103,123,100,95,105,115], { type: 'line',
      height: '70', width: '100%', lineWidth: '2', lineColor: '#ffa534',
      fillColor: 'rgba(255, 165, 52, .14)' });
    </script>
  </body>
</html>

<script>
  let files = [],
	dragArea = document.querySelector('.drag-area'),
	input = document.querySelector('.drag-area input'),
	select = document.querySelector('.drag-area .select-image'),
	container = document.querySelector('.container-image');

	/** CLICK LISTENER */
	select.addEventListener('click', () => input.click());

	/* INPUT CHANGE EVENT */
	input.addEventListener('change', () => {
    let file = input.files;   
    // if user select more than 1 image or no image
    if(files.length==1){
      files = [];
    }
    if (file.length > 1 || file.length == 0) return;    
    files.push(file[0]);
    console.log('file: ', files);
    input.files = null;
    showImages();
  })

	/* SHOW IMAGES */
  function showImages() {
    container.innerHTML = files.reduce((prev, curr, index) => {
		return `${prev}
		    <div class="image">
			    <span onclick="delImage(${index})">&times;</span>
			    <img src="${URL.createObjectURL(curr)}" />
			</div>`
	}, '');
  }

	/* DELETE IMAGE */
	function delImage(index) {
	files.splice(index, 1);
	showImages();
	}

	/* DRAG & DROP */
	dragArea.addEventListener('dragover', e => {
		e.preventDefault()
		dragArea.classList.add('dragover')
	})

	/* DRAG LEAVE */
	dragArea.addEventListener('dragleave', e => {
		e.preventDefault()
		dragArea.classList.remove('dragover')
	});

	/* DROP EVENT */
	dragArea.addEventListener('drop', e => {
		e.preventDefault()
		dragArea.classList.remove('dragover');
    if(files.length>0){
      files = [];
    }
		let file = e.dataTransfer.files;
		if(file.length==1){
      for (let i = 0; i < file.length; i++) {
        /** Check selected file is image */
        if (file[i].type.split("/")[0] != 'image') continue;
        if (!files.some(e => e.name == file[i].name)) files.push(file[i])
      }
    } else {
      alert('Chỉ chọn 1 hình');
    }
		showImages();
	});

  var form = $('form[name="form-category"]');
  var nameInput = $('input[name="name"]');
  var descInput = $('textarea[name="description"]');
  form.submit(function(e){
    var _name = nameInput.val().trim();
    var _desc = descInput.val().trim();
    e.preventDefault();
    if(_name.length==0){
      alert("Bạn chưa nhập tên danh mục");
    } else {
      var formData = new FormData();
      formData.append('name', _name);
      formData.append('description', _desc);
      formData.append('file', files[0]);
      $.ajax({
        url: 'http://localhost:3000/categories/create',
        type: 'POST',
        data: formData,
        async: false,
        cache: false,
        contentType: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: function (response) {
          if(response.message){
            alert(response.message);
            if(response.status==true){
              window.location.href = "http://localhost:3000/categories";
            }
          }
        }
      });
    }
  })
  
  
  

</script>

{{!-- if (file.length == 0) return;
			
		for(let i = 0; i < file.length; i++) {
			if (file[i].type.split("/")[0] != 'image') continue;
			if (!files.some(e => e.name == file[i].name)) files.push(file[i])
		} --}}

    {{!-- function showImages() {
		container.innerHTML = files.reduce((prev, curr, index) => {
			return `${prev}
				<div class="image">
					<span onclick="delImage(${index})">&times;</span>
					<img src="${URL.createObjectURL(curr)}" />
				</div>`
		}, '');
	} --}}


  