<div class="login-container" onclick="onclick" >
  <div class="login-top"></div>
  <div class="login-bottom"></div>
  <form class="login-center" name="form-reset-password">
    <h2>Đặt lại mật khẩu</h2>
    <input type="email" value="{{email}}" placeholder="email" name="email" readonly/>
    <input type="password" placeholder="Nhập mật khẩu mới" name="password"/>
    <button type="submit" style="width: 300px;" class="btn btn-login btn-success btn-block mb-4 mx-auto">Đổi mật khẩu</button>
  </form>
</div>

<script>
  var password = $('input[name="password"]');
  var form = $('form[name="form-reset-password"]');
  console.log(form);
  console.log(password);
  console.log('link: ', window.location.href);
  form.submit(function(e){
    e.preventDefault();
    let pass = password.val().trim();
    if(pass.length==0){
      alert('Bạn chưa nhập mật khẩu mới')
    } else {
      let data = {password: pass}
      fetch(`${window.location.href}`, {
        method: 'POST', // or 'PUT'
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then((response) => response.json())
      .then((data) => {
        if(data.message){
            alert(data.message);
        }
      })
      .catch((error) => {
        console.log('error: ', error);
      });
    }
  })
</script>
